<div id="<%= dom_id deal %>">
  <p>
    <strong>Name:</strong>
    <%= deal.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= deal.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= deal.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= deal.category_id %>
  </p>

</div>
